APP_NAME=Users Service
APP_HOST=0.0.0.0
APP_PORT=8000
APP_DEBUG=true

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=app

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

SESSION_COOKIE_NAME=session_id
SESSION_TTL_SECONDS=604800
SESSION_COOKIE_SECURE=false
SESSION_COOKIE_SAMESITE=lax

DB_GENERATE_SCHEMAS=true
BOOTSTRAP_MOCK_DATA=true

BOOTSTRAP_AUTHORITIES_CSV=read_users,edit_users,edit_elements
BOOTSTRAP_ADMIN_LOGIN=admin
BOOTSTRAP_ADMIN_PASSWORD=admin12345
BOOTSTRAP_ADMIN_AUTHORITIES_CSV=read_users,edit_users,edit_elements
